* { margin: 0 auto; padding: 0;
  box-sizing: border-box;
  text-decoration: none;}

.header {
  font-size: 2em;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1080px;
  height: 980px;
}

.leftnav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  float: left;
}
.leftnav > ul {
  list-style: none;
}
.leftnav > ul > li {
  font-size: 1.5em;
  padding: 20px 0;
}

.contents .right {
  float: right;
}